@import url('https://fonts.googleapis.com/css?family=Merriweather:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
}
.container {
  width: 70%;
  margin: auto;
}
.center {
  text-align: center;
}
p {
  font-family: Merriweather, sans-serif;
}
.heading {
  font-size: 90px;
  margin: 121.5px 0 37.5px;
  font-weight: 100;
  font-family: Merriweather, serif;
  line-height: 100%;
}
.subheading {
  font-size: 46px;
  font-weight: lighter;
  font-family: Merriweather, serif;
  margin-bottom: 50px; 
}
.heading-info {
  margin: auto;
  font-size: 20px;
  font-weight: 100;
  font-family: Roboto, sans-serif;
  color: #7C7C7C;
  width: 60%;
  line-height: 200%;
  margin-bottom: 60px; 
}
.heading-list {
  margin-bottom: 30px;
}
ul>li {
  list-style: none;
}
.heading-list li {
  font-size: 13px;
  font-family: Merriweather, sans-serif;
  line-height: 190%;
  color: #7C7C7C;
}
li span {
  font-size: 15px;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  color: black
}
.mouse {
  width: 30px;
  height: 95px;
  margin-bottom: 30px;
}
hr {
  width: 60%;
  margin: auto;
}
.video-wrapper {
  width: 100%;
  height: auto;
}
.video {
  width: 100%;
  height: auto;
}
.youtube-video {
  margin: 0%;
  padding: 0;
  width: 100%;
  height: 600px;
}
.info {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}
.first-paragraph {
  font-size: 27px;
  font-family: Merriweather, sans-serif;
}
.first-paragraph::first-letter {
  font-size: 140px;
  float: left;
  padding: 0 8px 0 0;
  line-height: 95px;
  margin: 10px 5px 10px 0px;
  font-family: serif;
}
.paragraph {
  font-size: 16px;
  font-family: Merriweather, sans-serif;
}
.img-container {
  width: fit-content;
}
.mapa {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 5%;
}
.nivel {
  width: 40%;
  height: 10%;
  margin: auto;
  margin-left: 10%;

}
.mapa-grande {
  width: 40%;
  margin-left: 5%;
  margin-right:10%;
}
.hospital-info {
  margin: 40px 0;
}
.hospitales-chiapas {
  margin-top: 5%;
  width: 100px;
  height: 100px;
}
.quote-wrapper {
  display: block;
}
.quote-img {
  width: 40px;
  height: 30px;
  float: left;
  margin-right: 10px;
}
.quote {
  font-size: 20px;
  color: #7C7C7C;
}
.footer {
  background-color: #580150;
  width: 100%;
  height: 70px;
  position: relative;
}
.footer-text {
  padding: 20px;
  color: white;
  font-family: Roboto, sans-serif;
  width: 30%;
}
.icons-footer {
  position: absolute;
  bottom: 5px;
  right: 6%;
}
.icons-style {
  display: flex;
  margin: 0;
  height: fit-content;
}
a {
  text-decoration: none;
}
.icons-style li {
  margin-right: 9%;
}
.icons-style li a{
  color: white;
  font-size: 40px;
}
.icons-style li a:hover {
  color: #BD9BC0;
  font-size: 40px;
  margin-right: 9%;
}
li .devf {
  background-image: url('./images/devf.png');
  display: block;
  background-size: 66px 35px;
  background-repeat: no-repeat !important;
  width: 66px;
  height: 40px;
  margin: 0 5%;
}
li .devf:hover {
  background-image: url('./images/devf_hover.png');
  display: block;
  background-size: 66px 35px;
  background-repeat: no-repeat !important;
  width: 66px;
  height: 40px;
  margin: 0 5%;
}
.back-start {
  display: flex;
  flex-direction: column;
}
.back-start > i {
  font-size: 30px;
  color: #BD9BC0;
}
.back-start > p {
  margin-bottom: 1.2%;
  color: #BD9BC0;
}